In [1]:
import numpy as py
from IPython.display import display
import pandas as pd

In [2]:
df = pd.read_csv('mobile.csv')

### Question 1

In [4]:
df["f_name"] = df['Customer Name'].str.split().str[0]
df

,Customer Name,Phone Number,Talked,Internet,Start Subscription,f_name
0,Cynthia Wong MD,050-5380527,231,944,14/09/2022,Cynthia
1,Chad Reed,053-5250617,166,217,28/11/2022,Chad
2,James Murphy,051-7292166,483,437,06/04/2021,James
3,John Dean,054-2952436,435,817,06/01/2021,John
4,Nancy Bright,052-8402824,208,770,10/10/2022,Nancy
5,Melinda Ruiz,051-3102790,434,903,23/02/2022,Melinda
6,Kristin Huber,054-8068151,499,592,18/01/2023,Kristin
7,Jesus Burke,052-8352627,48,467,19/10/2020,Jesus
8,Joanna Buchanan,051-3167949,342,919,17/12/2023,Joanna
9,Christian Lewis,052-3069795,277,740,11/04/2023,Christian
10,Amanda Meyer,050-8200916,355,390,03/02/2023,Amanda
11,Aaron Melendez,050-8270179,553,871,29/01/2023,Aaron
12,Sierra Morgan,054-6460585,590,614,17/04/2023,Sierra
13,Timothy Frost,050-5915117,324,429,28/02/2020,Timothy
14,Keith Lee,052-7653726,256,795,28/10/2022,Keith
15,Evelyn Elliott,051-6233404,369,705,17/10/2022,Evelyn
16,Chad Carter,053-9294578,25,350,06/10/2020,Chad
17,Matthew Mills,052-7974129,670,571,08/07/2022,Matthew
18,Jeffrey Hicks,050-8469039,250,99,07/05/2022,Jeffrey
19,Janice Palmer,051-8678768,472,105,04/10/2021,Janice
20,Diana Scott,051-8932363,134,519,26/04/2021,Diana
21,Lacey Henry,051-7222641,58,104,20/06/2023,Lacey
22,Angela Waters,054-5779698,553,201,19/10/2020,Angela
23,Lisa Alvarado,052-1692691,162,389,28/07/2021,Lisa
24,Jessica Pittman,053-9160566,170,899,23/03/2023,Jessica
25,Ryan Aguirre,050-4964995,520,372,07/11/2023,Ryan
26,Alison Moore,050-6467180,105,579,29/11/2020,Alison
27,Sarah Martin,051-6973566,24,91,12/04/2023,Sarah
28,Gregory Stevens,052-7378700,30,858,09/08/2022,Gregory
29,Jennifer Zavala,053-8258482,591,202,29/06/2020,Jennifer
30,Ryan Aguirre,050-4964995,520,372,07/11/2023,Ryan
31,John Dean,054-2952436,435,817,06/01/2021,John
32,Evelyn Elliott,051-6233404,369,705,17/10/2022,Evelyn
33,Alison Moore,050-6467180,105,579,29/11/2020,Alison
34,Jessica Pittman,053-9160566,170,899,23/03/2023,Jessica

### Question 2

In [6]:
df = pd.read_csv("mobile.csv")
df['company'] = df['Phone Number'].str[:3].replace({'050': 'Pelephone','051': 'Golan','052': 'Cellcom','053': 'HOT', '054' :'Partner'})

### Question 3

In [8]:
display(df['company'].value_counts())
display(df['company'].unique())
display(df['company'].nunique())

company
Pelephone    9
Golan        9
Cellcom      7
HOT          5
Partner      5
Name: count, dtype: int64

array(['Pelephone', 'HOT', 'Golan', 'Partner', 'Cellcom'], dtype=object)

5

### Question 4

### Question 5

In [11]:
df.sort_values(by=['Talked', 'Internet'])

,Customer Name,Phone Number,Talked,Internet,Start Subscription,company
27,Sarah Martin,051-6973566,24,91,12/04/2023,Golan
16,Chad Carter,053-9294578,25,350,06/10/2020,HOT
28,Gregory Stevens,052-7378700,30,858,09/08/2022,Cellcom
7,Jesus Burke,052-8352627,48,467,19/10/2020,Cellcom
21,Lacey Henry,051-7222641,58,104,20/06/2023,Golan
26,Alison Moore,050-6467180,105,579,29/11/2020,Pelephone
33,Alison Moore,050-6467180,105,579,29/11/2020,Pelephone
20,Diana Scott,051-8932363,134,519,26/04/2021,Golan
23,Lisa Alvarado,052-1692691,162,389,28/07/2021,Cellcom
1,Chad Reed,053-5250617,166,217,28/11/2022,HOT
24,Jessica Pittman,053-9160566,170,899,23/03/2023,HOT
34,Jessica Pittman,053-9160566,170,899,23/03/2023,HOT
4,Nancy Bright,052-8402824,208,770,10/10/2022,Cellcom
0,Cynthia Wong MD,050-5380527,231,944,14/09/2022,Pelephone
18,Jeffrey Hicks,050-8469039,250,99,07/05/2022,Pelephone
14,Keith Lee,052-7653726,256,795,28/10/2022,Cellcom
9,Christian Lewis,052-3069795,277,740,11/04/2023,Cellcom
13,Timothy Frost,050-5915117,324,429,28/02/2020,Pelephone
8,Joanna Buchanan,051-3167949,342,919,17/12/2023,Golan
10,Amanda Meyer,050-8200916,355,390,03/02/2023,Pelephone
15,Evelyn Elliott,051-6233404,369,705,17/10/2022,Golan
32,Evelyn Elliott,051-6233404,369,705,17/10/2022,Golan
5,Melinda Ruiz,051-3102790,434,903,23/02/2022,Golan
3,John Dean,054-2952436,435,817,06/01/2021,Partner
31,John Dean,054-2952436,435,817,06/01/2021,Partner
19,Janice Palmer,051-8678768,472,105,04/10/2021,Golan
2,James Murphy,051-7292166,483,437,06/04/2021,Golan
6,Kristin Huber,054-8068151,499,592,18/01/2023,Partner
25,Ryan Aguirre,050-4964995,520,372,07/11/2023,Pelephone
30,Ryan Aguirre,050-4964995,520,372,07/11/2023,Pelephone
22,Angela Waters,054-5779698,553,201,19/10/2020,Partner
11,Aaron Melendez,050-8270179,553,871,29/01/2023,Pelephone
12,Sierra Morgan,054-6460585,590,614,17/04/2023,Partner
29,Jennifer Zavala,053-8258482,591,202,29/06/2020,HOT
17,Matthew Mills,052-7974129,670,571,08/07/2022,Cellcom

### Question 6

In [13]:
display(df.nlargest(5, columns=['Talked']))
display(df.nsmallest(3, columns=['Internet']))

,Customer Name,Phone Number,Talked,Internet,Start Subscription,company
17,Matthew Mills,052-7974129,670,571,08/07/2022,Cellcom
29,Jennifer Zavala,053-8258482,591,202,29/06/2020,HOT
12,Sierra Morgan,054-6460585,590,614,17/04/2023,Partner
11,Aaron Melendez,050-8270179,553,871,29/01/2023,Pelephone
22,Angela Waters,054-5779698,553,201,19/10/2020,Partner

    Customer Name Phone Number  Talked  Internet Start Subscription    company
27   Sarah Martin  051-6973566      24        91         12/04/2023      Golan
18  Jeffrey Hicks  050-8469039     250        99         07/05/2022  Pelephone
21    Lacey Henry  051-7222641      58       104         20/06/2023      Golan

### Question 7

In [15]:
df[df.duplicated(keep=False)].sort_values(by='Customer Name')
df.drop_duplicates(inplace=True)

### Question 8

In [17]:
df.sample(3)[['Customer Name', 'Phone Number']]

      Customer Name Phone Number
1         Chad Reed  053-5250617
8   Joanna Buchanan  051-3167949
17    Matthew Mills  052-7974129